.row
  .large-12.columns.post_content
    = post.content
    
.row
  .large-6.columns.post_footer.post_creator
    = post.creator.name
  .large-4.columns.post_footer.post_datetime
    = l(post.updated_at, format: :long)

.row
  .small-10.columns.small-centered
    %ul.button-group.radius.evaluation_button_list
      %li= link_to t("accept_eval"), accept_post_path(post.id), class: "button small accept_evaluation_button", method: :post
      %li= link_to t("decline_eval"), decline_post_path(post.id), class: "button small decline_evaluation_button", method: :delete
      %li= link_to t("pass_eval"), pass_post_path(post.id), class: "button small pass_evaluation_button", method: :put