.feed_stats
  - if @feed.status == "toddler"
    .row
      .small-12.columns
        - if @feed.contributors("toddler") == MIN_CONTR_LVL1
          %h5= t('toddler_puberty_header')
        -else
          %h5= t('toddler_start_header')
    .row
      .small-2.columns
        to
      .small-8.columns
        .progress.small-12.radius
          .meter{:style => "width: " + ((@feed.contributors("toddler").count.to_f/MIN_CONTR_LVL1.to_f)*100).to_i.to_s + "%"}
      .small-2.columns
        pu
    .row
      .small-2.columns
        pu
      .small-8.columns
        .progress.small-12.success.radius
          .meter{:style => "width: " + ((@feed.contributors("adolescent").count.to_f/MIN_CONTR_LVL1.to_f)*100).to_i.to_s + "%"}
      .small-2.columns
        ad
  .row
    .small-4.columns
      Con:
      = @feed.contributors(@feed.status).count
    .small-4.columns
      Pos:
      = @feed.active_posts.count
      &frasl;
      = @feed.posts.count
    .small-4.columns
      Ev:
      = Evaluation.not_pending_evaluations_of_feed(@feed.id).count
      &frasl;
      = Evaluation.all_evaluations_of_feed(@feed.id).count