.codex
  .codex_why= t('codex_why')
  .codex_why_content= t("new_feed_why")
  .codex_how= t('codex_how')
  .codex_how_content= t('new_feed_how')
  .codex_what= t('codex_what')
  .codex_what_content
    %ul.square
      %li= t('new_feed_what1')
      %li= t('new_feed_what2')
      %li= t('new_feed_what3')
  .codex_misc
    = t('codex_misc')
  .codex_misc_content
    = t("new_feed_misc")
  .codex_description
    = t('codex_description')
  .codex_description_content
    = t("new_feed_description")