.codex
  .codex_why_content  
    %span.has-tip.tip-bottom.tip-left{class: "radius", "data-options" => "disable_for_touch:true", "data-tooltip" => "", title: t('codex_why')}= t("new_feed_why")

  .codex_how_content
    %span.has-tip.tip-bottom.tip-left{class: "radius", "data-options" => "disable_for_touch:true", "data-tooltip" => "", title: t('codex_how')}= t('new_feed_how')

  .codex_what_content
    %span.has-tip.tip-bottom.tip-left{class: "radius", "data-options" => "disable_for_touch:true", "data-tooltip" => "", title: t('codex_what')}
      %ul.square
        %li= t('new_feed_what1')
        %li= t('new_feed_what2')
        %li= t('new_feed_what3')

  .codex_misc_content
    %span.has-tip.tip-bottom.tip-left{class: "radius", "data-options" => "disable_for_touch:true", "data-tooltip" => "", title: t('codex_misc')}= t("new_feed_misc")

  .codex_description_content
    %span.has-tip.tip-bottom.tip-left{class: "radius", "data-options" => "disable_for_touch:true", "data-tooltip" => "", title: t('codex_description')}= t("new_feed_description")