.row
  .large-12.columns.post_content
    = simple_format(post.content.html_safe)
.row
  .small-4.columns.post_footer.post_creator
    = post.creator.name if post.anonymity == "visible" and post.status == "active"
    = t("post_is_free") if post.status == "free"
  .small-3.columns.post_footer
    = t("user_eval_" + @evaluated_active_post[post.id].to_s) unless @evaluated_active_post[post.id] == nil
  .small-3.columns.post_footer.post_datetime
    = l(post.created_at, format: :long)