- if !@evaluated_posts.empty?
  %p
    %h5= t('posts_user_evaluated')
    - @evaluated_posts.each do |ep|
      .evaluated_posts
        .evaluated_post_content= ep.content 
        -if ep.evaluations.first.status == "accepted"
          .evaluated_post_status.accepted
            .row
              .small-4.columns
                = t("user_accepted")
              .small-8.columns
                .progress.radius.no-bottom-margin.small
                  .meter{:style => "width: " + ((ep.all_evaluated.count.to_f/ep.real_evaluations.count.to_f)*100).to_i.to_s + "%"}
        -elsif ep.evaluations.first.status == "declined"
          .evaluated_post_status.declined
            .row
              .small-4.columns
                = t("user_declined")
              .small-8.columns
                .progress.radius.no-bottom-margin
                  .meter{:style => "width: " + ((ep.all_evaluated.count.to_f/ep.real_evaluations.count.to_f)*100).to_i.to_s + "%"}
        -elsif ep.evaluations.first.status == "passed"
          .evaluated_post_status.passed
            .row
              .small-4.columns
                = t("user_passed_on")
              .small-8.columns
                .progress.radius.no-bottom-margin
                  .meter{:style => "width: " + ((ep.all_evaluated.count.to_f/ep.real_evaluations.count.to_f)*100).to_i.to_s + "%"}
- if !@users_posts.empty?
  %p
    %h5= t('users_posts_not_active')
    - @users_posts.each do |post|
      .waiting_posts
        = render "post_box", post: post if post.status == "free"
        = render "post_box_bar", post: post if post.status == "in_evaluation"