.row.top-margin
  .large-8.medium-6.columns
    .freed_header
      - case params[:index_type]
      - when "free"
        = t("free_feed_list")
      - when "contributed"
        = t("contributed_feed_list")
      - when "active"
        = t("active_feed_list")
      - else
        = t("all_feeds_list")
  .large-4.medium-6.columns
    - string = t("in") + " "
    - if current_user.feedlang.kind_of?(Array)
      - current_user.feedlang.each_with_index do |l,i|
        - string << LANGUAGES_HASH[l.to_sym].humanize
        - string << ", " if i < current_user.feedlang.size - 2 
        - string << " " + t("and") + " " if i == current_user.feedlang.size - 2
    - else
      - string << LANGUAGES_HASH[current_user.feedlang.to_sym].humanize
    %span.has-tip.tip-bottom.tip-left{class: "radius", "data-options" => "disable_for_touch:true", "data-tooltip" => "", title: t('change_feed_lang')}= link_to string, edit_user_registration_path



- @feeds.each_slice(3) do |tripplets|
  .row
    - tripplets.each_with_index do |feed, i|
      .large-4.large-offset-0.medium-offset-2.medium-8.columns{class: ("end" if i == tripplets.size-1)}  
        .freed_list
          = render "feed_box", feed: feed
  




