.row.top-margin
  .large-4.columns
    .freed_header
      = t('my_feeds')
    .freed_list
      - @users_feeds.each do |feed|
        = render "feed_box", feed: feed
  .large-4.columns    
    .freed_header
      = t('most_active_feeds')
    .freed_list
      - @active_feeds.each do |feed|
        = render "feed_box", feed: feed
  .large-4.columns
    .freed_header
      = t("free_feed_list")
    .freed_list
      - @free_feeds.each do |feed|
        = render "feed_box", feed: feed




