.row
  .large-7.columns
    - if !@users_evaluations.empty?
      .to_evaluate
        - @users_evaluations.each do |post|
          .evaluate_post
            %p.evaluation_content
              = post.content
              %ul.button-group.radius.evaluation_button_list
                %li= link_to t("accept_eval"), accept_post_path(post.id), class: "button small accept_evaluation_button", method: :post
                %li= link_to t("decline_eval"), decline_post_path(post.id), class: "button small decline_evaluation_button", method: :delete
                %li= link_to t("pass_eval"), pass_post_path(post.id), class: "button small pass_evaluation_button", method: :put
          

    - @posts.each do |post|
      .active_post
        = render "post_box", post: post
  
       

  .large-5.columns
    = render "feed_stats"
    = render "layouts/codex", feed: @feed
    
    = link_to 'New Post', new_post_for_feed_path(@feed.id), class: "button radius"
    = render "waiting_posts"



