.row
  .large-12.columns
    %h1=@feed.goal
.row
  .large-8.columns
    .to_evaluate
      - @users_evaluations.each do |post|
        .evaluate_post
          %p= post.content
          %p
            = link_to "accept", accept_post_path(post.id), class: "button small", method: :post
            = link_to "decline", decline_post_path(post.id), class: "button small alert", method: :delete
            = link_to "pass", pass_post_path(post.id), class: "button small", method: :put
            

    - @feed.posts.each do |post|
      .panel
        = post.content
        | status:
        = post.status
        | creator:
        = post.creator_id
        + evaluations:
       

  .large-4.columns
    = link_to 'New Post', new_post_for_feed_path(@feed.id), class: "button radius"
    .codex_how
      = t('codex_how')
    .codex_how_content
      = t('how_start')
      = t(@feed.lang)
      = t('how_end')
    %p
    .codex_what= t('codex_what')
    %ul
      - if @feed.rule1 != ""
        %li= @feed.rule1
      - if @feed.rule2 != ""
        %li= @feed.rule2
      - if @feed.rule3 != ""
        %li= @feed.rule3
      - if @feed.rule4 != ""
        %li= @feed.rule4
      - if @feed.rule5 != ""
        %li= @feed.rule5
    %p
      %b Misc:
      = @feed.misc
    %p
      %b Description:
      = @feed.description
    %p
      = link_to 'Edit', edit_feed_path(@feed)
      \|
      = link_to 'Back', feeds_path
    %p
      %b In Evaluation
      %ul
        - @evaluated_posts.each do |ep|
          %li= ep.content + " | " + ep.users_evaluation(current_user.id).status



