.row
  .large-7.columns
    .to_evaluate
      - @users_evaluations.each do |post|
        .evaluate_post
          %p.evaluation_content= post.content
          .evaluation_button_list
            = link_to t("accept_eval"), accept_post_path(post.id), class: "acces_evaluation_button", method: :post
            = link_to t("decline_eval"), decline_post_path(post.id), class: "decline_evaluation_button", method: :delete
            = link_to t("pass_eval"), pass_post_path(post.id), class: "pass_evaluation_button", method: :put
          

    - @posts.each do |post|
      .active_post
        = post.content
  
       

  .large-5.columns
    = render "layouts/codex", feed: @feed
    
    = link_to 'New Post', new_post_for_feed_path(@feed.id), class: "button radius"
    %p
      %b In Evaluation
      %ul
        - @evaluated_posts.each do |ep|
          %li= ep.content + " | " + ep.users_evaluation(current_user.id).status



