.row.top-margin
  .large-7.columns
    .to_evaluate
      - @users_evaluations.each do |post|
        .evaluate_post
          %p= post.content
          %p
            = link_to "accept", accept_post_path(post.id), class: "button small", method: :post
            = link_to "decline", decline_post_path(post.id), class: "button small alert", method: :delete
            = link_to "pass", pass_post_path(post.id), class: "button small", method: :put
            

    - @posts.each do |post|
      .panel
        = post.content
        | status:
        = post.status
        | creator:
        = post.creator_id
        + evaluations:
       

  .large-5.columns
    = render "layouts/codex", feed: @feed
    
    = link_to 'New Post', new_post_for_feed_path(@feed.id), class: "button radius"
    %p
      %b In Evaluation
      %ul
        - @evaluated_posts.each do |ep|
          %li= ep.content + " | " + ep.users_evaluation(current_user.id).status



