.row.top-margin
  .medium-2.columns
    = link_to 'New Post', new_post_for_feed_path(@feed.id), class: "button radius success no-bottom-margin"
  .medium-10.columns
    %h3= @feed.goal
.row
  .medium-7.columns
    = render "toddler_stats"
    - if !@users_evaluations.empty?
      - @users_evaluations.each do |post|
        .evaluate_post
          = render "evaluate_post_box", post: post
      

    - @posts.each do |post|
      .active_post
        = render "post_box", post: post
  
       

  .medium-5.columns.hide-for-small
    = render "layouts/codex", feed: @feed
    = render "feed_stats"
    
    = render "waiting_posts"



