.row.top-margin
  .small-4.large-2.columns
    = link_to 'New Post', new_post_for_feed_path(@feed.id), class: "button radius success no-bottom-margin"
  .small-8.large-10.columns
    %h3= @feed.goal
.row
  .medium-7.large-5.large-offset-2.columns
    = render "free_stats"
    - if @posts_to_evaluate
      - @posts_to_evaluate.each do |post|
        .evaluate_post
          = render "evaluate_post_box", post: post
      

    - @posts.each do |post|
      .active_post
        = render "post_box", post: post
  
  .medium-5.large-4.large-offset-1.columns.hide-for-small
    = render "layouts/codex", feed: @feed
    = render "feed_stats"
    
    = render "waiting_posts"



