= simple_form_for(@post) do |f|
  = f.error_notification

  .form-inputs
    .new_post_content
      = f.input :content, :autofocus => true, placeholder: t("post_content_placeholder"), label: t("new_post_label")
      = f.input :anonymity, collection: {visible: t("visible_creator"), anonymous: t("hidden_creator")}.invert, :include_blank => false, label: t("anonymity_label") if @post.feed.anonymity == "choice"
      = f.hidden_field :creator_id
      = f.hidden_field :feed_id

  .form-actions
    = f.button :submit, t("create_post_button"), class: "button radius success", :data => { :confirm => t('sure_create_post') }
    = link_to t("back_button"), feed_path(@post.feed_id), class: "button radius alert"
