= simple_form_for(@post) do |f|
  = f.error_notification

  .form-inputs
    = f.input :content
    = f.hidden_field :creator_id
    = f.hidden_field :feed_id

  .form-actions
    = f.button :submit, class: "button radius success"
