= simple_form_for(@post) do |f|
  = f.error_notification

  .form-inputs
    .new_post_content
      = f.input :content, :autofocus => true, placeholder: t("post_content_placeholder"), label: t("new_post_label")
    = f.hidden_field :creator_id
    = f.hidden_field :feed_id

  .form-actions
    = f.button :submit, class: "button radius success"
    = link_to 'Back', feed_path(@post.feed_id), class: "button radius alert"
