!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : t('page_title')
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Wispper'}"}
    = stylesheet_link_tag "application"
    -# Foundation 5 won't work with Rails Turbolinks
    -# Modernizr is required for Zurb Foundation
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body
    .row
      .small-offset-8.small-4.medium-offset-10.medium-2.columns.top-margin
        = form_tag(root_path, method: :get) do
          = select_tag('lang_change', options_from_collection_for_select(LANGUAGES_HASH, :first, :last, I18n.locale))
    
    .top-margin= yield
  
  -# Foundation 5 won't work when application.js is included in HEAD
  = javascript_include_tag "application"
  :javascript
    $(document).ready(function() {
      $("#hide").delay(2000).slideUp(500);
      $(".accordion").on("click", "a", function (event) {
        $(".content").slideToggle("slow");
      });
      $('#lang_change').change(function() {
        this.form.submit();
      });
    });
